{% extends "global/Page.html" %}
{% load otree %}
{% block content %}
<div class="instructions well well-lg">

    <h2>
        ¡Bienvenido al experimento!
    </h2>
    <p>
        Muchas gracias por participar en este experimento. Los resultados del 
        experimento se registran de forma anónima, por lo cual no será necesario 
        revelar tu nombre en ningún momento. El experimento está compuesto por dos 
        tareas: una tarea verbal y una tarea de conteo. Recibirás instrucciones de las 
        diferentes tareas antes de que se desarrollen. Para efectos del experimento, 
        se agruparán a los participantes en grupos de cuatro integrantes. (En su grupo, 
        usted es el Participante {{player.id_in_group}})
             
    </p>
    <h4>
        Información importante para el Experimento en Línea
    </h4>
    <h6>
        Código de participante
    </h6>
    <p>
        Para que podamos identificarte durante el experimento, realizar los pagos 
        correspondientes o responder alguna consulta, te hemos asignado el siguiente 
        código o etiqueta de participante: 
    </p>
    <p style="text-align:center;font-weight: bold"> {{a}}</p>
    <p>
        Es importante que tengas este código a la mano, así que apúntalo o tómale foto. 
    </p>
    <h6>
        Contacto
    </h6>
    <p>
        Si tienes alguna duda, por favor contacta Estephany Jáuregui al siguiente número de celular +51 969 875 719.
    </p>
    <h6>
        Información de pago
    </h6>
    <p>
        La última página del experimento contiene un enlace a un formulario donde deberás 
        ingresar la información para efectuar tu pago. Debes tener a la mano los datos asociados 
        al método con el que deseas que hagamos el pago: (i) un número y nombre asociados a un 
        aplicativo móvil de pago: Yape (BCP) o Plin (Scotiabank); o (ii) un número de cuenta o CCI 
        con el nombre del titular para recibir una transferencia bancaria o interbancaria. Debes llegar 
        a la última página para poder contar la información para poder pagarte.
    </p>
</div>
{% next_button %}
{% endblock %}