{% extends "global/Page.html" %}
{% load otree %}
{% block title %}Prueba de Tarea Verbal{% endblock %}
{% block content %}
<div class="instructions well well-lg">

    <p>
        La palabra es:
             
    </p>
    <p>
        A-L-E-A-T-O-R-I-O
    </p>
    <p>
        Escriba las posibles sub-palabras en el siguiente cuadro:
    </p>

    {%formfields%}

    <p>
        *Recuerde que las palabras deben ser ingresadas entre comas y con las tildes respectivas.
    </p>
    <td class="tg-nrix">{{ a_2 }}</td>
      <td class="tg-nrix">{{ a_3 }}</td>
      <td class="tg-nrix">{{ a_4 }}</td>
      <td class="tg-nrix">{{ a_5 }}</td>
</div>
{% next_button %}
{% endblock %}