{% extends "global/Page.html" %}
{% load otree %}
{% block content %}
<div class="instructions well well-lg">

    <h2>
        Reglas generales
    </h2>
    <ul>
        <li>
            La sesión dura entre 40 y 60 minutos. Recuerda que si inicias la sesión 
            y te retiras a la mitad, no recibirás pago y serás suspendido indefinidamente 
            de la base de datos. 
        </li>
        <li>
            Tener su correo y celular a la mano, pues los supervisores del experimento se pueden 
            contactar con ustedes en caso ocurra algún problema o haya una consulta. 
        </li>
        <li>
            Si ocasionan demoras en el experimento y no contestan los mensajes que los supervisores 
            les envían al respecto, se asumirá que se retiraron en medio del experimento y se procederá 
            con las sanciones establecidas. 
        </li>
        <li> Si utilizas una etiqueta de participante que no te corresponde, no solo no se te pagará por 
            la sesión actual, sino que serás penalizado con una suspensión temporal o permanente de la base 
            de datos
        </li>
    </ul>
    <br>
</div>
{% next_button %}

<br></br>
<b>Contáctenos:</b>
<br>
<img height="2%" width="2%" src="{% static "whatsapp.png"%}"/> <a href="https://wa.me/0051985730063" target="_blank">+51 985730063</a>
<br>
<img height="2%" width="2%" src="{% static "gmail.png"%}"/> e2lab@up.edu.pe
{% endblock %}