{% extends "global/Page.html" %}
{% load otree %}
{% block content %}
<div class="instructions well well-lg">

    <h2>
        Reglas generales
    </h2>
    <ul>
        <li>
            La sesión dura entre 40 y 60 minutos. Recuerda que si inicias la sesión 
            y te retiras a la mitad, no recibirás pago y serás suspendido indefinidamente 
            de la base de datos. 
        </li>
        <li>
            Si cuando te conectas la sesión está llena y ves un mensaje que dice: “The maximum 
            number of participants for this session has been exceeded”, escríbenos inmediatamente 
            por whatsapp al número +51 969 875 719 o al correo #####, enviando un pantallazo (foto) del mensaje. 
            Si haces esto dentro de los cinco minutos de tolerancia, recibirás una compensación 
            simplemente por conectarte de manera puntual. Esto puede suceder porque hemos reclutado 
            suplentes para este experimento, en caso algunos inscritos no se conectan. Por ello, los 
            primeros en conectarse a la hora indicada tendrán prioridad. Si no requerimos tu participación 
            y te conectas puntualmente, recibirás una compensación como apreciación por tu asistencia 
            oportuna y seguirás siendo elegible para las siguientes sesiones del estudio.
        </li>
        <li>
            Tener su correo y celular a la mano, pues los supervisores del experimento se pueden 
            contactar con ustedes en caso ocurra algún problema o haya una consulta. 
        </li>
        <li>
            Si ocasionan demoras en el experimento y no contestan los mensajes que los supervisores 
            les envían al respecto, se asumirá que se retiraron en medio del experimento y se procederá 
            con las sanciones establecidas. 
        </li>
        <li>
            Se tiene una tolerancia de 5 minutos para iniciar la sesión, así que no te preocupes si ves 
            la página de espera por algunos minutos: sé paciente, la sesión empezará como máximo cuando 
            acabe el margen 
        </li>
        <li> Si utilizas una etiqueta de participante que no te corresponde, no solo no se te pagará por 
            la sesión actual, sino que serás penalizado con una suspensión temporal o permanente de la base 
            de datos
        </li>
    </ul>
    <br>
    <p>
        Lea las instrucciones cuidadosamente. Si tienes alguna duda, por favor contacta Estephany Jáuregui 
        al siguiente número de celular +51 969 875 719.
    </p>
</div>
{% next_button %}
{% endblock %}