{% extends "global/Page.html" %}
{% load otree %}
{% block title %}Tarea Verbal - ronda 2{% endblock %}
{% block content %}
<div class="instructions well well-lg">

    <p>
        La palabra es:
             
    </p>
    <p>
        {{ a }}      
    </p>
    <p>
        Escriba las posibles sub-palabras en el siguiente cuadro:
    </p>
    <table>
        <tr>
            <td> <input type="string" name="answer_1_R2" size="10"></td>
            <td> <input type="string" name="answer_2_R2" size="10"></td>
            <td> <input type="string" name="answer_3_R2" size="10"></td>
            <td> <input type="string" name="answer_4_R2" size="10"></td>
            <td> <input type="string" name="answer_5_R2" size="10"></td>
        </tr>
        <tr>
            <td> <input type="string" name="answer_6_R2" size="10"></td>
            <td> <input type="string" name="answer_7_R2" size="10"></td>
            <td> <input type="string" name="answer_8_R2" size="10"></td>
            <td> <input type="string" name="answer_9_R2" size="10"></td>
            <td> <input type="string" name="answer_10_R2" size="10"></td>
        </tr>
        <tr>
            <td> <input type="string" name="answer_11_R2" size="10"></td>
            <td> <input type="string" name="answer_12_R2" size="10"></td>
            <td> <input type="string" name="answer_13_R2" size="10"></td>
            <td> <input type="string" name="answer_14_R2" size="10"></td>
            <td> <input type="string" name="answer_15_R2" size="10"></td>
        </tr>
        <tr>
            <td> <input type="string" name="answer_16_R2" size="10"></td>
            <td> <input type="string" name="answer_17_R2" size="10"></td>
            <td> <input type="string" name="answer_18_R2" size="10"></td>
            <td> <input type="string" name="answer_19_R2" size="10"></td>
            <td> <input type="string" name="answer_20_R2" size="10"></td>
        </tr>
        <tr>
            <td> <input type="string" name="answer_21_R2" size="10"></td>
            <td> <input type="string" name="answer_22_R2" size="10"></td>
            <td> <input type="string" name="answer_23_R2" size="10"></td>
            <td> <input type="string" name="answer_24_R2" size="10"></td>
            <td> <input type="string" name="answer_25_R2" size="10"></td>
        </tr>
        <tr>
            <td> <input type="string" name="answer_26_R2" size="10"></td>
            <td> <input type="string" name="answer_27_R2" size="10"></td>
            <td> <input type="string" name="answer_28_R2" size="10"></td>
            <td> <input type="string" name="answer_29_R2" size="10"></td>
            <td> <input type="string" name="answer_30_R2" size="10"></td>
        </tr>
        <tr>
            <td> <input type="string" name="answer_31_R2" size="10"></td>
            <td> <input type="string" name="answer_32_R2" size="10"></td>
            <td> <input type="string" name="answer_33_R2" size="10"></td>
            <td> <input type="string" name="answer_34_R2" size="10"></td>
            <td> <input type="string" name="answer_35_R2" size="10"></td>
        </tr>
    </table>

    <p style="text-align:left;font-weight:bold;font-size:14px;">
        *Recuerde que las palabras deben ser ingresadas en minúsculas, con las tildes respectivas y contener por lo menos 4 letras.
    </p>
</div>

<br></br>
<b>Contáctenos:</b>
<br>
<img height="2%" width="2%" src="{% static "whatsapp.png"%}"/> <a href="https://wa.me/0051985730063" target="_blank">+51 985730063</a>
<br>
<img height="2%" width="2%" src="{% static "gmail.png"%}"/> e2lab@up.edu.pe

{% endblock %}
