{% extends "global/Page.html" %}
{% load otree %}
{% block title %}Tarea Verbal - ronda 3{% endblock %}
{% block content %}
<div class="instructions well well-lg">

    <p>
        La palabra es:
             
    </p>
    <p>
        {{ a }}      
    </p>
    <p>
        Escriba las posibles sub-palabras en el siguiente cuadro:
    </p>
    <table>
        <tr>
            <td> <input type="string" name="answer_1_R3" size="10"></td>
            <td> <input type="string" name="answer_2_R3" size="10"></td>
            <td> <input type="string" name="answer_3_R3" size="10"></td>
            <td> <input type="string" name="answer_4_R3" size="10"></td>
            <td> <input type="string" name="answer_5_R3" size="10"></td>
        </tr>
        <tr>
            <td> <input type="string" name="answer_6_R3" size="10"></td>
            <td> <input type="string" name="answer_7_R3" size="10"></td>
            <td> <input type="string" name="answer_8_R3" size="10"></td>
            <td> <input type="string" name="answer_9_R3" size="10"></td>
            <td> <input type="string" name="answer_10_R3" size="10"></td>
        </tr>
        <tr>
            <td> <input type="string" name="answer_11_R3" size="10"></td>
            <td> <input type="string" name="answer_12_R3" size="10"></td>
            <td> <input type="string" name="answer_13_R3" size="10"></td>
            <td> <input type="string" name="answer_14_R3" size="10"></td>
            <td> <input type="string" name="answer_15_R3" size="10"></td>
        </tr>
        <tr>
            <td> <input type="string" name="answer_16_R3" size="10"></td>
            <td> <input type="string" name="answer_17_R3" size="10"></td>
            <td> <input type="string" name="answer_18_R3" size="10"></td>
            <td> <input type="string" name="answer_19_R3" size="10"></td>
            <td> <input type="string" name="answer_20_R3" size="10"></td>
        </tr>
        <tr>
            <td> <input type="string" name="answer_21_R3" size="10"></td>
            <td> <input type="string" name="answer_22_R3" size="10"></td>
            <td> <input type="string" name="answer_23_R3" size="10"></td>
            <td> <input type="string" name="answer_24_R3" size="10"></td>
            <td> <input type="string" name="answer_25_R3" size="10"></td>
        </tr>
    </table>

    <p>
        *Recuerde que las palabras deben ser ingresadas con las tildes respectivas.
    </p>
</div>

{% endblock %}
