{% extends "global/Page.html" %}
{% load otree %}
{% block title %}Tarea Verbal - ronda 4{% endblock %}
{% block content %}
<div class="instructions well well-lg">

    <p>
        La palabra es:
             
    </p>
    <p>
        {{ a }}      
    </p>
    <p>
        Escriba las posibles sub-palabras en el siguiente cuadro:
    </p>
    <table>
        <tr>
            <td> <input type="string" name="answer_1_R4" size="10"></td>
            <td> <input type="string" name="answer_2_R4" size="10"></td>
            <td> <input type="string" name="answer_3_R4" size="10"></td>
            <td> <input type="string" name="answer_4_R4" size="10"></td>
            <td> <input type="string" name="answer_5_R4" size="10"></td>
        </tr>
        <tr>
            <td> <input type="string" name="answer_6_R4" size="10"></td>
            <td> <input type="string" name="answer_7_R4" size="10"></td>
            <td> <input type="string" name="answer_8_R4" size="10"></td>
            <td> <input type="string" name="answer_9_R4" size="10"></td>
            <td> <input type="string" name="answer_10_R4" size="10"></td>
        </tr>
        <tr>
            <td> <input type="string" name="answer_11_R4" size="10"></td>
            <td> <input type="string" name="answer_12_R4" size="10"></td>
            <td> <input type="string" name="answer_13_R4" size="10"></td>
            <td> <input type="string" name="answer_14_R4" size="10"></td>
            <td> <input type="string" name="answer_15_R4" size="10"></td>
        </tr>
        <tr>
            <td> <input type="string" name="answer_16_R4" size="10"></td>
            <td> <input type="string" name="answer_17_R4" size="10"></td>
            <td> <input type="string" name="answer_18_R4" size="10"></td>
            <td> <input type="string" name="answer_19_R4" size="10"></td>
            <td> <input type="string" name="answer_20_R4" size="10"></td>
        </tr>
        <tr>
            <td> <input type="string" name="answer_21_R4" size="10"></td>
            <td> <input type="string" name="answer_22_R4" size="10"></td>
            <td> <input type="string" name="answer_23_R4" size="10"></td>
            <td> <input type="string" name="answer_24_R4" size="10"></td>
            <td> <input type="string" name="answer_25_R4" size="10"></td>
        </tr>
    </table>

    <p>
        *Recuerde que las palabras deben ser ingresadas con las tildes respectivas.
    </p>
</div>

{% endblock %}
