{% extends "global/Page.html" %}
{% load otree %}
{% block title %}Tarea Verbal{% endblock %}
{% block content %}
<div class="instructions well well-lg">

    <p>
        La palabra es:
             
    </p>
    <p>
        M-A-R-A-V-I-L-L-O-S-O
    </p>
    <p>
        Escriba las posibles sub-palabras en el siguiente cuadro:
    </p>

    {{formfields}}

    <p>
        *Recuerde que las palabras deben ser ingresadas entre comas y con las tildes respectivas.
    </p>
</div>
{% next_button %}
{% endblock %}