{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Counting task - round {{ view.round_number }}
{% endblock %}

{% block content %}
<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:6px 10px;word-break:normal;}
  .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:6px 10px;word-break:normal;}
  .tg .tg-nrix{text-align:center;vertical-align:middle}
  </style>
  <table class="tg">
  <thead>
    <tr>
      <td class="tg-nrix">{{ a_1 }}</td>
      <td class="tg-nrix">{{ a_2 }}</td>
      <td class="tg-nrix">{{ a_3 }}</td>
      <td class="tg-nrix">{{ a_4 }}</td>
      <td class="tg-nrix">{{ a_5 }}</td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
    </tr>
    <tr>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
    </tr>
    <tr>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
    </tr>
    <tr>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
    </tr>
    <tr>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
    </tr>
    <tr>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
    </tr>
    <tr>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
    </tr>
    <tr>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
    </tr>
    <tr>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
      <td class="tg-nrix"></td>
    </tr>
  </tbody>
  </table>

{% endblock %}