{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Counting task - round {{ view.round_number }}
{% endblock %}

{% block content %}
<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 10px;word-break:normal;}
  .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 10px;word-break:normal;}
  .tg .tg-nrix{text-align:center;vertical-align:middle}
  </style>
  <table class="tg">
  <tbody>
    <tr>
      {% for ab in lst_1 %}
        <td class="tg-nrix">{{ ab }}</td>
      {% endfor %}
    </tr>
    <tr>
      {% for ab in lst_2 %}
        <td class="tg-nrix">{{ ab }}</td>
      {% endfor %}
    </tr>
    <tr>
      {% for ab in lst_3 %}
        <td class="tg-nrix">{{ ab }}</td>
      {% endfor %}
    </tr>
    <tr>
      {% for ab in lst_4 %}
        <td class="tg-nrix">{{ ab }}</td>
      {% endfor %}
    </tr>
    <tr>
      {% for ab in lst_5 %}
        <td class="tg-nrix">{{ ab }}</td>
      {% endfor %}
    </tr>
    <tr>
      {% for ab in lst_6 %}
        <td class="tg-nrix">{{ ab }}</td>
      {% endfor %}
    </tr>
    <tr>
      {% for ab in lst_7 %}
        <td class="tg-nrix">{{ ab }}</td>
      {% endfor %}
    </tr>
    <tr>
      {% for ab in lst_8 %}
        <td class="tg-nrix">{{ ab }}</td>
      {% endfor %}
    </tr>
    <tr>
      {% for ab in lst_9 %}
        <td class="tg-nrix">{{ ab }}</td>
      {% endfor %}
    </tr>
    <tr>
      {% for ab in lst_10 %}
        <td class="tg-nrix">{{ ab }}</td>
      {% endfor %}
    </tr>
  </tbody>
  
  </table>

  {% formfield 'rpta_c' %}

{% next_button %}
{% endblock %}